
.dsc-footer {
    position:absolute;
    height:50px;
    line-height:50px;
    background:rgb(121, 121, 121);
    color:white;
    text-align:center;
    left:0;
    width:100%;
  }
  
  footer.bottom {
    bottom:0;
    }
