 <div>
    <br/>
      <form class="form-group arrow" #miformulario="ngForm" (ngSubmit)="login(miformulario)">
        <div>
         <br/>
         <input type="email" name="email" placeholder="Email" class="form-control col-md-2" ngModel>
         </div>
    <div class="form-group">
        <input type="password" name="password" placeholder="Password" class="form-control col-md-2" ngModel>
    </div>
    <div>
        <br/>
        <button type="submit" class="form-control col-md-2">Login</button>
    </div>
    <br/>

</form>


</div>